


.button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  
}

.datatable {
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  -webkit-box-shadow: 0px 1px 1px #000000;
  -moz-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
}
h3 {
  font-weight: 100;
}

header {
  background-color: #cb262b;
  text-align: center;
  color: #fff;
  height: 100px;
  margin: auto;
  -webkit-box-shadow: 0px 1px 1px #000000;
  -moz-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
footer {
  background-color: #cb262b;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 1px #000000;
  -moz-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
 margin-top: 55px;
}

